/*colors*/

/*base color: #6E6D73*/

/* Global */

/* FONTS */

.input-lg {
	border-radius: 0;
}

@font-face {
	font-family: 'goth-font';
	src: url('../fonts/newsgothlt.ttf');
}

@font-face {
	font-family: 'nexa-font';
	src: url('../fonts/nexablack.ttf');
}
/*
section {
	border: 1px solid black;
}*/

html,
body {
	height: 100%;
	width: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.body {
	padding-bottom: 350px;
	width: 100%;
	position: absolute;
}

nav li a:hover {
	font-weight: bold;
	transition: font-weight .25s;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 350px;
}

footer a:hover,
footer a:focus {
	color: inherit;
	text-decoration: underline;
}

footer #affiliation a:hover,
footer #affiliation a:focus {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

footer #affiliation a {
	color: inherit;
	text-decoration: underline;
}

.goth {
	font-family: 'goth-font';
}

.goth-bold {
	font-family: 'goth-font';
	font-weight: bold;
}

.nexa {
	font-family: 'nexa-font';
}

.nexa-bold {
	font-family: 'nexa-font';
	font-weight: bold;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

ol li {
	padding-top: 20px;
}

/*.cotc-nav {
	height:100px;
	background:transparent;
	border:none;
	color: #000;
}*/

.bg-visible {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}

.bg-visible-dark {
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
}

.fa-facebook-square:hover,
.fa-facebook-square:focus {
	color: #45619D;
	transition: color .35s;
}

.fa-twitter-square:hover,
.fa-twitter-square:focus {
	color: #55ACEE;
	transition: color .35s;
}

.fa-instagram:hover,
.fa-instagram:focus {
	color: #E2D6C8;
	transition: color .35s;
}

.fa {
	transition: color .35s;
}

.btn-white:hover,
.btn-white:focus {
	background-color: #727376;
	color: white;
	border: 1px solid #333;
	transition: color .5s, background-color .5s, border .5s;
}

.btn-white {
	background-color: white;
	color: black;
	border: 1px solid black;
	transition: color .5s, background-color .5s, border .5s;
}

.btn-white-black:hover,
.btn-white-black:focus {
	background-color: #727376;
	color: white;
	border: 1px solid #333;
	transition: color .5s, background-color .5s, border .5s;
}

.btn-white-black {
	background-color: white;
	color: black;
	border: 1px solid black;
	transition: color .5s, background-color .5s, border .5s;
}

.btn-contact:hover {
	background-color: white!important;
	color: black;
	border: 1px solid #333;
	transition: color .5s, background-color .5s, border .5s;
}

.btn-contact {
	background-color: #727376!important;
	color: white;
	border: 1px solid black;
	transition: color .5s, background-color .5s, border .5s;
}

/* Hero */

#hero {
	width: 100%;
	height: 650px;
	margin-top: 100px;
	background: url('../img/15.png') center;
	background-size: cover;
}

#hero img {
	padding-top: 100px;
}

.btn {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid black;
}

/* Mission */

#mission {
	padding: 50px;
}

#mission button {
	margin-top: 20px;
}

/* Events */

/*#events {
	width: 50%;
	height: 800px;
	padding: 50px;
	float: left;
	background: url('../img/events-bg.jpg') center;
	background-size: cover;
	color: white;
}*/

#events {
	width: 100%;
	height: auto;
	padding: 50px;
	float: left;
	background-color: #155747;
	color: white;
}

#events .container {
	max-width: 100%;
	max-height: 100%;
}

#events li {
	font-size: 16pt;
	padding: 10px;
	list-style-type: none;
}

#events .row {
	padding-bottom: 20px;
}

/* Blog-Roll */

#blog-roll {
	width: 50%;
	height: 800px;
	padding: 50px;
	float: right;
	background: url('../img/dark-texture.png');
}

#blog-roll .container {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	width: 75%;
	color: #333;
	background-color: white;
}

.blog-excerpt {
	border: 1px solid black;
	height: auto;
	width: 75%;
	margin-top: 30px;
	background-color: white;
	color: #333;
}

.blog-image {
	width: 
}

.blog-excerpt header {
	padding: 20px;
}

.blog-text-excerpt {
	padding: 20px 20px;
}

/* Affilation */

#affiliation {
	width: 75%;
	height: 300px;
	float: left;
	padding-top: 50px;
	background-color: #2A342C;
	color: white;
}

#affiliation .container {
	max-width: 100%;
}

#affiliation li {
	font-size: 16px;
}

/* Social */

#social {
	width: 25%;
	height: 300px;
	float: right;
	padding-top: 50px;
	background-color: #727376;
	color: white;
}

#social .container {
	max-width: 100%;
}

.social-icons {
	float: left;
}

.footer-nav {
	float: right;
	list-style: none;
	padding-right: 50px;
	line-height: 35px;
}

.footer-nav ul {
	list-style: none;
}


/* Copyright */

#copyright {
	height: 50px;
	width: 100%;
	clear: both;
	display: table;
}

#copyright .row {
	display: table-cell; 
	vertical-align: middle;
}

/* About */

#sidebar {
	width: 45%;
	margin-top: 150px;
	margin-bottom: 100px;
	height: 500px;
	float: left;
}

#sidebar .container {
	width: 50%;
}

#about-sidebar {
	
	width: 300px;
	height: 400px;
	position: fixed;
	display: table;
}

#about-sidebar ul {
	line-height: 50px;
	display: table-cell;
	vertical-align: middle;
}

#about-sidebar li {
	list-style-type: none;
	padding-top: 10px;
}

#about-sidebar a:hover {
	color: white;
}

.font-16 {
	font-size: 16px;
}

/* Main-Content */

#main-content {
	width: 50%;
	margin-top: 100px;
	margin-bottom: 100px;
	height: auto;
	float: right;
	margin-right: 5%;
}

#main-content hr {
	border-color: #333;
}


#main-content .container {
	max-width: 100%;
	height: auto;
}

#main-content button {
	margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
	#blog-roll .container {
		overflow: scroll;
	}

	/*#events .container {
		overflow: scroll;
	}*/

}

@media only screen and (max-width: 1020px) {
	#affiliation {
		width: 50%;
		height: 300px;
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 25px;
	}

	#social {
		width: 50%;
		height: 300px;
		padding-top: 50px;
		padding-left: 50px;
	}

}

@media only screen and (max-width: 992px) {

	#hero {
		height: auto;
	}

	#hero img {
	padding: 100px 0px;
}

	#sidebar {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 0px;
		height: 500px;
		float: none;
		border-bottom: 1px solid #333;
		background-color: #727376;
	}

	#main-content {
		width: 100%;
		margin-top: 50px;
		margin-bottom: 100px;
		height: auto;
		float: none;
		margin-right: 5%;
	}

	#sidebar .container {
		width: 100%;
	}

	#about-sidebar {
		width: 100%;
		height: 400px;
		position: static;
		display: table;
		margin-top: 5%;
	}

	#about-sidebar ul {
		padding: 0px;
		line-height: 50px;
		display: table-cell;
		vertical-align: middle;
	}

	.medium-center {
		text-align: center;
	}

	.btn-white-black:hover,
	.btn-white-black:focus {
		background-color: white;
		color: #727376 !important;
		border: 1px solid #333;
		transition: color .5s, background-color .5s, border .5s;
	}

	.btn-white-black {
		background-color: #727376;
		color: white;
		border: 1px solid white;
		transition: color .5s, background-color .5s, border .5s;
	}

}

@media only screen and (max-width: 768px) {
	#events {
		width: 100%;
		height: auto;
		padding: 50px;
		float: none;
		display: table;
		background-attachment: fixed;
	}

	#events .container {
		display: table-cell;
		vertical-align: middle;
	}

	#blog-roll {
		width: 100%;
		height: 800px;
		padding: 50px;
		float: none;
		display: table;
	}

	#blog-roll .container {
		display: table-cell;
		vertical-align: middle;
	}

	.blog-excerpt {
		border: 1px solid black;
		height: auto;
		width: 75%;
		margin-top: 30px;
	}

	#affiliation {
		width: 100%;
		height: 300px;
		float: none;
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 1px solid black;
	}

	#social {
		width: 100%;
		height: 300px;
		float: none;
		padding-top: 50px;
		padding-bottom: 25px;
	}

	footer {
		height: 650px;
	}

	.body {
		padding-bottom: 650px;
		width: 100%;
		position: absolute;
	}

}

@media only screen and (max-width: 480px) {

	.blog-roll .container{
		max-height: 484px;
		overflow: scroll;
		width: 100%;
	}

	#affiliation {
		height: auto;
	}

	#social {
		height: auto;
	}

	#copyright {
		height: auto;
	}

	footer {
		height: auto;
	}

	.wrapper {
	min-height: 100%;
	position: relative;
	}

	.body {
		padding: 0;
		width: 100%;
		margin: 0;
		position: static;
	}

	footer {
		position: static;
		width: 100%;
		height: auto;
		
	}

	.mobile-center {
		text-align: center;
	}

	#about-sidebar {
		margin-top: 10%;
	}

}

@media screen only and (max-width: 320px) {
	.blog-roll .container {
		width: 100%;
	}

	#about-sidebar {
		margin-top: 20%;
	}
}
